{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }]]
}

// {
//   "presets": [
//     [
//       "next/babel",
//       {
//         "styled-jsx": {
//           "plugins": ["styled-jsx-plugin-postcss"]
//         }
//       }
//     ]
//   ]
// }
